h1 {
  color: #F8FCDA;
}

p {
  color: #F8FCDA;
}

/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split-huge {
  width: 80%;
}

.split-big {
  width: 66.66%;
  width: calc(100% * 3/5);
}

.split-small {
  width: 33.33%;
  width: calc(100% * 2/5);
}

.split-tiny {
  width: 20%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #2F4858;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #86BBD8;
}

.landing-position {
  padding-top: 20%;
}

.landing {
  text-align: center;
}

.logo {
  text-align: center;
}

.form {
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}

.forum-page {
  display: flex;
  flex-direction: column;
  background-color: #86BBD8;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.forum-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forum-logo {
  color: #F8FCDA;
  width: 20%;
  margin-left: 2%;
  text-align: left;
}

.forum-logo:hover {
  color: #2F4858;
  cursor: pointer;
}

.forum-search {
  width: 100%;
}

.forum-searchbar {
  background-color: #2F4858;
  color: #F8FCDA;
  width: 100%;
  padding: 12px 20px;
  margin: 22px 0;
  border: 2px solid #F8FCDA;
  border-radius: 4px;
  box-sizing: border-box;
}

.forum-profile {
  width: 20%;
  margin-top: 16px;
  margin-right: 2%;
  right: 0;
  text-align: right;
}

.forum-profile:hover {
  cursor: pointer;
}

.forum-post {
  background-color: #2F4858;
  margin: 4% 20% 0% 20%;
  padding: 1% 2% 1% 2%;
  border-radius: 4px;
}

.forum-post-body {
  color: #F8FCDA;
}

.forum-post-user {
  color: #F8FCDA;
}

.forum-post-date {
  color: #F8FCDA;
  text-align: right;
}

.settings-menu {
  margin: 5%;
  padding: 5%;
  text-align: center;
}

.settings-button {
  margin: 5%;
  padding: 5%;
  text-align: center;
}

.settings-button:hover {
  background-color: #243742;
  cursor: pointer;
  font-size: 105%;
}